<%= render "shared/header" %>
<div class='main'>
  <div class="recipe-new">いいね順⭐️</div>
  <div class="recipe-grid">
    <% @posts.each do |post| %>
      <div class="recipe-card">
        <%= link_to post_path(post), style: "text-decoration: none;" do %>
          <%= post.title %>
          <% if post.images.attached? %>
            <%= image_tag post.images.first.variant(resize: "260x260!"), class: 'post-image' %>
          <% end %>
        <% end %>
        <%= render partial: "likes/like", locals: { post: post } %>
      </div>
    <% end %>
  </div>
</div>
