<%= render "shared/header" %>
<div class='main'>
  <div class="recipe-new">新着のレシピ</div>
  <div class="recipe-grid">
    <% @posts.each do |post| %>
      <div class="recipe-card">
        <%= link_to post_path(post) do %>
        <%= post.title %>
        <%= image_tag post.image.variant(resize: "260x260!"), class: 'post-image' if post.image.attached? %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to new_post_path, class: 'recipe-btn' do %>
  <span class='recipe-btn-text'>投稿する</span>
  <%= image_tag 'coooking.png', class: "recipe-btn-icon" %>
<% end %>