<h1>新しい投稿</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "エラー") %>がこの投稿の保存を阻んでいます:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field custom-image-title">
    <%= form.label :image_title_one, "画像タイトル１" %>
    <%= form.text_field :image_title_one %>
  </div>

  <div class="field custom-title">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field custom-description">
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>

  <div class="actions custom-actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
